.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicas-bloco__input {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
    background: #ecebff;
}



.modificadores {
    display: flex;
    align-items: center;
}
.modificadores__controle {
    color: #fff;
    margin: 0 10px;
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #424242;
}
.modificadores__controle.modificadores__menos {
    background: #d84141;
}

.modificadores__controle.modificadores__mais {
    background: #13bf3c;
}