.kits__linha {
    display: flex;
    justify-content: center;
    margin: 15px 10px;
    max-width: 100%;
}

.kits__input {
    width: 280px;
    font-size: 16px;
    margin-right: 5px;
}

.kits__input-quantidade {
    width: 60px;
    text-align: center;
    margin-left: 5px;
    font-size: 16px;
}