.informacao-jogador {
    padding-bottom: 10px;
}

    .informacao-jogador__linha {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        clear: both;
    }

    .informacao-jogador__linha--campo {
        margin: auto 1% 1%;
    }