.main-page {
    margin: 0 auto;
    height: 100%;
}

    .main-page__header {
        height: 60px;
        display: flex;
        color: #fff;
        box-shadow: 1px 1px 10px #aaa;
        background-color: #e65100;
    }
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100vw;
        }
        .header__brand {
            padding-left: 15px;
        }
            .brand__title {
                margin: 0 auto;
                font-size: 24px;
                font-weight: bold;
                font-family: 'Macondo Swash Caps', cursive;
            }
        .header__contador {
            display: flex;
        }
            .contador__input {
                width: 145px;
                margin: 0 20px 0 0;
            }
        .header__buttons {
            padding-right: 15px;  
        }

    .main-page__menu-lateral {
        height: calc(100vh - 60px);
        background-image: linear-gradient(to bottom, #1a1717, #501c01);
        margin-top: 12px;
    }

        .menu-lateral {
            padding-top: 15px;
        }

            .menu-lateral__item {
                padding: 8px 20px;
            }
            
            .menu-lateral__link {
                color: #dddddd !important;
                font-weight: 600;
            }
            .menu-lateral__link:hover {
                color: #666666 !important;
            }

    .main-page__content {
        height: calc(100vh - 60px);
        padding: 30px;
        background-image: url('./assets/img/drawn-wallpaper-skyrim-585478-5931462.jpg');
        background-size: cover;
        margin-top: 12px;
    }

        .content__title {
            text-align: center;
            color: #e65100;
            font-size: 36px;
            font-weight: bold;
            font-family: 'Macondo Swash Caps', cursive;
            margin-bottom: 15px;
            text-shadow: 2px 2px 5px #000000;
        }

        .content__card--parent {
            background-color: #ffffffc0;
            border-radius: 15px;
            padding: 15px;
            margin: 20px 10px;
        }

        .content__card--child {
            background-color: #ffffffc0;
            border-radius: 15px;
            padding: 15px;
            margin: 20px;
        }

        .content__card--wild {
            background-color: #ffffffc0;
            border-radius: 15px;
            padding: 15px;
            margin: 20px 10px;
            width: 80%;
        }

        .content__card--caracteristicas {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }

        .content--esconde {
            display: none;
        }

        .content--mostra {
            display: block;
        }

.main-page__bloco-caracteristicas {
    padding: 30px 50px;
}

.main-page__bloco-caracteristicas--titulo, .main-page__bloco-kits--titulo {
    font-size: 20px;
    margin: 20px auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: 'Macondo Swash Caps', cursive;
}

.main-page__bloco-caracteristicas--titulo {
    color: #3273dc;
}

.main-page__bloco-caracteristicas--blocos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 36px;
}

.main-page__bloco-kits--titulo {
    color: #23d160;
}

.main-page__bloco-kits--blocos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.main-page__bloco-kits {
    padding-bottom: 22px;
}

.label {
    font-weight: bold;
}

.coluna--20 {
    width: 20% !important;
}

.coluna--50 {
    width: 50% !important;
}

.coluna--80 {
    width: 80% !important;
}

.coluna--100 {
    width: 100% !important;
}

.margem-direita--5 {
    margin-right: 5%;
}

.margem-inferior--5 {
    margin-bottom: 5%;
}

.margem-inferior--2 {
    margin-bottom: 2%;
}